/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
 color: #373240;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #EEEEEE;
}

body {
  color: #373240;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  background: url("../images/comp3.jpeg") no-repeat center center;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
}

.lead {
  color: #CB4335;
  font-weight: 600;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}

/* Footer section */
.footer {
	width: 100%;
	position: absolute;
    bottom: 0;
    color: #fff;
}

/*
 * Header
 */
a.navbar-brand {
	/*color: #CB4335!important;*/
	margin-left: 2rem;
}

#brandTitle {
	color: #CB4335;
}

.nav-link {
  padding: .25rem .25rem;
  font-weight: 700;
  color: #373240;
  border-bottom: .25rem solid transparent;
}

.nav-link:hover,
.nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-link + .nav-link {
  margin-left: 1rem;
}


/* For screen width between 768px and 1024px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    a.navbar-brand {
		font-size: 2.2rem;
	}
    
    .lead {
    	font-size: 1.5rem;
    }
	
	h1.main-heading {
		font-size: 4rem;
		margin-top: 7rem;
	}

	.footer {
		font-size: 1.5rem;
	}

	.nav-link {
		font-size: 1.3rem;
	}
}

/* For screen width upto 320 px*/
@media only screen and (max-width: 320px) {
    a.navbar-brand {
		font-size: 1rem;
    }
   	
	h1.main-heading {
		margin-top: -1rem;
	}
} 

/* For landscape orientation upto 728px screens */
@media only screen and (max-width:728px) and (orientation: landscape) {
	h1.main-heading {
		margin-top: -2rem;
		font-size: 1.5rem;
	}

	.footer{
		position: relative;
		float: right;
	}

	.lead {
    	font-size: 1rem;
    }
}

/* Animation effect for heading */

.main-heading {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.lead {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
}

.portfolio-section {
  color: #373240;
  background-color: #EEEEEE;
}

.folio-links {
  text-decoration: none;
}


/* Flipping Animation */

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}

/* flip the pane when hovered */
.flip {
  transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(180deg);
}

/* hide back of pane during swap */
 .back {
  backface-visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.front {
  backface-visibility: hidden;
}

/* front pane, placed above back */
.front {
  z-index: 2;
   for firefox 31 
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.card {
  background: linear-gradient(to right, rgba(203,67,53,0), rgba(203,67,53,0.5));
  border: 0;
}

.projImg {
  width: 100%;
}

/* Link animation */

.projLink {
  color: #000;
  text-decoration: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.projLink:hover {
  color: #000;
  text-decoration: none;
}

.projLink:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #CB4335;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.projLink:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.projLink:after {
  content: '' attr(data-hover) '';
  width: 0;
  overflow: hidden;
  transition: width .1s ease-in-out;  
  color: #CB4335;
  position: absolute;
  left: 0;
  top: 0;
}

.projLink:hover:after, .projLink:focus:after {
  width: 100%  
}

/* Modal styles */

.modal-dialog {
      width: 90%;
      height: 90%;
      padding: 0;
      margin:0 auto;
      border: 2px solid black;
}

.modal-content {    
      height: 100%;
      border-radius: 0;
      color:black;
      overflow: auto;
      background-color: #DD998A;
}

.repo, .demo {
  color:  #DCDCDC;
}

.changeTextColor {
  color: #fff;
}

@media only screen 
and (orientation : landscape) { 
  .modal-title { 
        margin-top: -1rem;  
    }

  .modal-header .close {
  	padding : 0.3rem;
  }  
}

