.footer {
	width: 100%;
	position: absolute;
    bottom: 0;
    color: #fff;
}

a.navbar-brand {
	/*color: #CB4335!important;*/
	margin-left: 2rem;
}

#brandTitle {
	color: #CB4335;
}

.lead {
	color: #CB4335;;
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    a.navbar-brand {
		font-size: 2rem;
	}
    
    .lead {
    	font-size: 1.5rem;
    }
	
	h1.main-heading {
		font-size: 4rem;
		margin-top: 7rem;
	}

	.footer {
		font-size: 1.5rem;
	}
}

@media only screen and (max-width: 320px) {
    a.navbar-brand {
		font-size: 1rem;
    }
   	
	h1.main-heading {
		margin-top: -1rem;
	}
} 

@media only screen and (max-width:728px) and (orientation: landscape) {
	h1.main-heading {
		margin-top: -2rem;
		font-size: 1.5rem;
		/*color: #fff;*/
	}
	.footer{
		position: relative;
		float: right;
	}
	.lead {
    	font-size: 1rem;
    }

    .modal-title {
    	margin-bottom: 0.5rem;
    }
}

.main-heading {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.lead {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
}

